/* 通过全局样式直接覆盖 ant-btn-primary */
.ant-btn-primary {
    color: #99bfe3; /* 蓝色文本 */
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.h-4 {
    height: 1rem;
}

.w-4 {
    width: 1rem;
}

.titlebar {
    height: 30px;
    background: #329ea3;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;
}
.titlebar-button:hover {
    background: #5bbec3;
}

/* 让第一个div固定在顶部，不随页面滚动 */
.fixed-content {
    position: fixed;  /* 固定定位 */
    top: 0;
    left: 0;
    right: 0;
    background: black;
    z-index: 10;  /* 确保其在其他内容之上 */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 第二个div，限制高度并允许滚动 */
.scrollable-content {
    top: 30px;  /* 根据第一个div的高度调整间距，避免重叠 */
    bottom: 0;  /* 使其占据剩余的空间 */
    left: 0;
    right: 0;
    overflow-y: auto;  /* 纵向滚动 */
    padding: 20px;
}