/* 通过全局样式直接覆盖 ant-btn-primary */
.ant-btn-primary {
    color: #99bfe3; /* 蓝色文本 */
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.h-4 {
    height: 1rem;
}

.w-4 {
    width: 1rem;
}

.titlebar {
    height: 30px;
    background: #ffffff;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 260px;
    right: 0;
}
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;
}
.titlebar-button:hover {
    background: #5bbec3;
}

/* 让第一个div固定在顶部，不随页面滚动 */
.fixed-content {
    position: fixed;  /* 固定定位 */
    top: 0;
    left: 260px;
    right: 0;
    background: #ffffff;
    z-index: 10;  /* 确保其在其他内容之上 */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 第二个div，限制高度并允许滚动 */
.scrollable-content {
    top: 120px;  /* 根据第一个div的高度调整间距，避免重叠 */
    bottom: 0;  /* 使其占据剩余的空间 */
    left: 0;
    right: 0;
    overflow-y: auto;  /* 纵向滚动 */
    padding: 40px;
}


/* From Uiverse.io by 00Kubi */
.card {
    width: 400px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}

#cookieSvg {
    width: 50px;
}

#cookieSvg g path {
    fill: rgb(97, 81, 81);
}

.cookieHeading {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
}

.cookieDescription {
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(99, 99, 99);
}

.cookieDescription a {
    --tw-text-opacity: 1;
    color: rgb(59 130 246);
}

.cookieDescription a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.acceptButton {
    width: 80px;
    height: 30px;
    background-color: #d3b5be;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px #ffffff, 0 2px 4px -1px #aff3db;
    transition: all .6s ease;
}
.acceptButton:hover {
    background-color: #856464;
    box-shadow: 0 10px 15px -3px #500404, 0 4px 6px -2px #170c0c;
    transition-duration: .2s;
}